@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="container pt-[84px]">
    <div class="flex grid lg:grid-cols-2 grid-cols-1 gap-x-[50px]">
        <div>
            <!-- Đường dẫn -->
            <div class="flex gap-x-2 pb-[13px]">
                <span class="pt-[5px]">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5"
                         stroke="currentColor"
                         class="w-[26px]">
                        <path stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                    </svg>
                </span>
                <p class="lg:text-2xl text-xs">
                    <span class="lg:text-2xl text-xs text-gray-500">Trang chủ / Sản phẩm /</span>
                    Thông tin sản phẩm
                </p>
            </div>
            <!-- Ảnh sản phẩm -->
            <div>
                <img src="/assets/img/brown-chair.png" alt="" />
            </div>
        </div>

        <div class="pt-[45px] gap-y-3">
            <p class="font-bold lg:text-[44px] text-[24px]">Ghế làm việc</p>
            <p class="font-medium text-gray-500 lg:text-[18px] text-[14px] pt-[10px]">
                Sự kết hợp của gỗ và len
            </p>
            <p class="leading-[180%] pt-[10px]">
                <span class="font-medium text-[#AD7E5C] lg:text-[18px] text-[14px]">Mã sản phẩm</span>
                :
                <span class="font-light lg:text-[18px] text-[14px]">H6503</span>
                <br />
                <span class="font-medium text-[#AD7E5C] lg:text-[18px] text-[14px]">Thương hiệu</span>
                :
                <span class="font-light lg:text-[18px] text-[14px]">Bentley</span>
                <br />
                <span class="font-medium text-[#AD7E5C] lg:text-[18px] text-[14px]">Tình trạng</span>
                :
                <span class="font-light lg:text-[18px] text-[14px]">Còn trong kho</span>
                <br />
                <br />
                <span class="text-gray-500 pt-[10px] lg:text-[18px] text-[14px] w-[590px] h-[96px]">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam
                    tortor quisque purus aliquet arcu magna. Purus ultrices nibh nunc
                    orci cras nunc facilisi tristique. Dolor ultrices ...
                </span>
                <span class="text-[#518581] lg:text-[18px] text-[14px] font-medium">Đọc thêm</span>
            </p>
            <!-- Giá sản phẩm -->
            <div class="gap-x-3 pt-[19px]">
                <p>
                    <span class="font-bold lg:text-4xl text-2xl">2.000.000đ</span>
                    <span class="lg:text-4xl text-2xl text-gray-500">-</span>
                    <span class="font-normal lg:text-4xl text-2xl text-gray-400 italic line-through align-bottom">2.500.000đ</span>
                </p>
            </div>
            <!-- Số lượng -->
            <div class="flex gap-x-[50px] pt-[27px]">
                <span>
                    <p class="font-normal lg:text-3xl text-lg text-gray-400">
                        Số lượng
                    </p>
                </span>
                <!-- Button số lượng -->
                <div class="wrapper lg:h-[40px] h-[32px] lg:w-[180px] w-[150px] flex justify-center items-center rounded shadow-[0_5px_5px_rgba(0,0,0,0.2)]">
                    <span class="minus">-</span>
                    <span class="num">01</span>
                    <span class="plus">+</span>
                </div>
            </div>

            <div class="flex grid grid-cols-2 gap-x-[20px] pt-[24px]">
                <div>
                    <button class="bg-[#518581] lg:w-[285px] w-32 lg:h-[58px] h-10 border">
                        <span class="font-bold lg:text-[18px] text-[14px] text-[#F9F9F9]">Mua ngay</span>
                    </button>
                </div>
                <div>
                    <button class="lg:w-[285px] w-32 lg:h-[58px] h-10 border">
                        <span class="font-bold lg:text-[18px] text-[14px]">Thêm vào giỏ hàng</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="pt-[90px]"></div>
    <div class="pl-[30px] lg:hidden">
        <h1 class="font-bold text-[24px] lg:text-[44px] text-[#518581]">Sản phẩm tương tự</h1>
    </div>
    <div class="container lg:mt-5 shadow bg-[#fff] ">
        <div class="hidden lg:block pt-5 lg:pt-[20px]">
            <h1 class="font-semibold text-[24px] lg:text-[40px] text-[#518581]">Sản phẩm tương tự</h1>
        </div>
        <div id="data-container"
             class="py-5 lg:mt-[10px] grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-[16px] gap-y-[32px] lg:gap-x-[45px] lg:gap-y-[62px]">
        </div>
    </div>
</div>
<script src="~/js/cart.js"></script>
<script>
    const plus = document.querySelector(".plus"),
        minus = document.querySelector(".minus"),
        num = document.querySelector(".num");
    let a = 1;
    plus.addEventListener("click", () => {
        a++;
        a = a < 10 ? "0" + a : a;
        num.innerText = a;
    });

    minus.addEventListener("click", () => {
        if (a > 1) {
            a--;
            a = a < 10 ? "0" + a : a;
            num.innerText = a;
        }
    });
</script>
