
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div>
        <img src="./assets/img/login-bg.png"
             alt="login-background"
             class="object-fill w-full max-h-[860px] relative" />
        <!-- Đăng nhập -->
        <form action="" class="form-login" autocomplete="off">
            <div class="fadeUp absolute top-[25%] right-[80px] w-[618px] min-h-[550px] bg-white bg-opacity-70 rounded-lg flex justify-center flex-col p-[50px] gap-y-[38px]">
                <span class="text-[44px] font-bold text-[#FFB23F]">Đăng nhập</span>
                <input type="text"
                       name="name"
                       required
                       placeholder="Tên đăng nhập"
                       class="bg-white rounded-lg shadow h-[60px] w-[516px] p-[14px] font-bold text-2xl" />
                <input type="password"
                       name="password"
                       required
                       placeholder="Mật khẩu"
                       class="bg-white rounded-lg shadow h-[60px] w-[516px] p-[14px] font-bold text-2xl" />
                <button class="bg-[#FFB23F] text-white rounded-lg shadow h-[60px] w-[516px] p-[14px] font-bold text-2xl hover:bg-opacity-60">
                    Đăng nhập
                </button>
                <p class="change-register text-xl cursor-pointer text-right">
                    Nếu chưa có tài khoản, nhấn <strong>Đăng ký</strong>
                </p>
            </div>
        </form>

        <!-- Đăng ký -->
        <form action="" class="form-register hidden" autocomplete="off">
            <div class="fadeUp absolute top-[25%] right-[80px] w-[618px] min-h-[550px] bg-white bg-opacity-70 rounded-lg flex justify-center flex-col p-[50px] gap-y-[38px]">
                <span class="text-[44px] font-bold text-[#FFB23F]">Đăng ký</span>
                <input type="text"
                       name="name"
                       placeholder="Tên đăng nhập"
                       class="bg-white rounded-lg shadow h-[60px] w-[516px] p-[14px] font-bold text-2xl" />
                <input type="password"
                       name="password"
                       placeholder="Mật khẩu"
                       class="bg-white rounded-lg shadow h-[60px] w-[516px] p-[14px] font-bold text-2xl" />
                <input type="password"
                       name="confirmPassword"
                       placeholder="Nhập lại mật khẩu"
                       class="bg-white rounded-lg shadow h-[60px] w-[516px] p-[14px] font-bold text-2xl" />
                <div class="flex items-center justify-end gap-x-[23px]">
                    <button type="submit"
                            class="bg-[#FFB23F] text-white rounded-lg shadow h-[60px] w-[180px] p-[14px] font-bold text-2xl hover:bg-opacity-60">
                        Đăng nhập
                    </button>
                    <button class="change-login bg-white text-[#AFADB5] rounded-lg shadow h-[60px] w-[180px] p-[14px] font-bold text-2xl hover:bg-opacity-60"
                            type="button">
                        Hủy
                    </button>
                </div>
            </div>
        </form>
    </div>
</main>
