@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div>
        <img src="./assets/img/login-bg.png"
             alt="login-background"
             class="object-fill w-full max-h-[860px] relative" />
        <!-- Đăng nhập -->
        <form action="" class="form-login" autocomplete="off">
            <div class="fadeUp absolute top-[25%] right-[80px] w-[618px] min-h-[550px] bg-white bg-opacity-70 rounded-lg flex justify-center flex-col p-[50px] gap-y-[38px]">
                <span class="text-[44px] font-bold text-[#FFB23F]">Đăng nhập</span>
                <input type="text"
                       name="name"
                       required
                       placeholder="Tên đăng nhập"
                       class="bg-white rounded-lg shadow h-[60px] w-[516px] p-[14px] font-bold text-2xl" />
                <input type="password"
                       name="password"
                       required
                       placeholder="Mật khẩu"
                       class="bg-white rounded-lg shadow h-[60px] w-[516px] p-[14px] font-bold text-2xl" />
                <button class="bg-[#FFB23F] text-white rounded-lg shadow h-[60px] w-[516px] p-[14px] font-bold text-2xl hover:bg-opacity-60">
                    Đăng nhập
                </button>
                <p class="change-register text-xl cursor-pointer text-right">
                    Nếu chưa có tài khoản, nhấn <a href="~/SignUp"><strong>Đăng ký</strong></a>
                </p>
            </div>
        </form>
    </div>
@*    <script>
        const changeRegister = document.querySelector(".change-register");
        const changeLogin = document.querySelector(".change-login");
        const register = document.querySelector(".register");

        changeRegister.addEventListener("click", () => {
          document.querySelector(".form-login").classList.add("hidden");
          document.querySelector(".form-register").classList.remove("hidden");
        });

        //   document.querySelector(".form-login").addEventListener("submit", (e) => {
        //     e.preventDefault();
        //     console.log(
        //       document.querySelector(".form-login").elements["name"].value,
        //       document.querySelector(".form-login").elements["password"].value
        //     );
        //   });

        changeLogin.addEventListener("click", () => {
          document.querySelector(".form-register").classList.add("hidden");
          document.querySelector(".form-login").classList.remove("hidden");
        });
    </script>*@
</main>

