USE [master]
GO
/****** Object:  Database [Funiture]    Script Date: 11/25/2022 3:13:43 PM ******/
CREATE DATABASE [Funiture]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Funiture', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Funiture.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Funiture_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Funiture_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Funiture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Funiture]
GO
/****** Object:  Table [dbo].[CTHD]    Script Date: 11/25/2022 3:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHD](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
 CONSTRAINT [pk_CTHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucSP]    Script Date: 11/25/2022 3:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucSP](
	[MaDM] [nvarchar](255) NOT NULL,
	[TenDM] [nvarchar](255) NULL,
 CONSTRAINT [pk_DanhMucSP] PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 11/25/2022 3:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaUser] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[MaUser] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/25/2022 3:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] NOT NULL,
	[TTDH] [nvarchar](255) NULL,
	[TTTT] [nvarchar](255) NULL,
	[MaKH] [int] NULL,
	[MaNV] [int] NULL,
	[NgayHD] [datetime] NULL,
	[NgayGH] [datetime] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[ThanhPho] [nvarchar](255) NULL,
	[MaKM] [int] NULL,
	[TriGia] [float] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 11/25/2022 3:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] NOT NULL,
	[TenKM] [nvarchar](255) NULL,
	[NgayBD] [datetime] NULL,
	[NgayKT] [datetime] NULL,
	[PhanTramKM] [float] NULL,
	[DinhMuc] [float] NULL,
	[ToiDa] [float] NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/25/2022 3:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] NOT NULL,
	[TenSP] [nvarchar](255) NULL,
	[NSX] [nvarchar](255) NULL,
	[ThuongHieu] [nvarchar](255) NULL,
	[Gia] [float] NULL,
	[TongSL] [int] NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MaDM] [nvarchar](255) NULL,
	[ChiTiet] [nvarchar](max) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/25/2022 3:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[MaUser] [int] NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Username] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
	[SDT] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[ThanhPho] [nvarchar](255) NULL,
	[NgayTao] [datetime] NULL,
	[Quyen] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[MaUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTHD] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (1, 1, 1, 20000000)
INSERT [dbo].[CTHD] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (1, 2, 2, 23300000)
INSERT [dbo].[CTHD] ([MaHD], [MaSP], [SoLuong], [DonGia]) VALUES (1, 3, 3, 16950000)
GO
INSERT [dbo].[DanhMucSP] ([MaDM], [TenDM]) VALUES (N'NTDTT', N'Đồ trang trí')
INSERT [dbo].[DanhMucSP] ([MaDM], [TenDM]) VALUES (N'NTPA', N'Nội thất phòng ăn')
INSERT [dbo].[DanhMucSP] ([MaDM], [TenDM]) VALUES (N'NTPK', N'Nội thất phòng khách')
GO
INSERT [dbo].[GioHang] ([MaUser], [MaSP], [SoLuong]) VALUES (1, 25, 3)
INSERT [dbo].[GioHang] ([MaUser], [MaSP], [SoLuong]) VALUES (1, 29, 5)
INSERT [dbo].[GioHang] ([MaUser], [MaSP], [SoLuong]) VALUES (2, 14, 1)
GO
INSERT [dbo].[HoaDon] ([MaHD], [TTDH], [TTTT], [MaKH], [MaNV], [NgayHD], [NgayGH], [DiaChi], [ThanhPho], [MaKM], [TriGia]) VALUES (1, N'Đang giao ', N'Chưa thanh toán', 28, 2, CAST(N'2022-11-25T00:00:00.000' AS DateTime), CAST(N'2022-11-27T00:00:00.000' AS DateTime), N'Tổ 23, phường Hữu Nghị, thành phố Hòa Bình', N'Hà Nội', 1, 105705000)
INSERT [dbo].[HoaDon] ([MaHD], [TTDH], [TTTT], [MaKH], [MaNV], [NgayHD], [NgayGH], [DiaChi], [ThanhPho], [MaKM], [TriGia]) VALUES (2, N'Đang giao ', N'Chưa thanh toán', 31, 2, CAST(N'2022-11-25T00:00:00.000' AS DateTime), CAST(N'2022-11-28T00:00:00.000' AS DateTime), N'307 cao ốc an khánh song hành tổ 42, An Phú Q.02', N'TP HCM', NULL, 8900000)
INSERT [dbo].[HoaDon] ([MaHD], [TTDH], [TTTT], [MaKH], [MaNV], [NgayHD], [NgayGH], [DiaChi], [ThanhPho], [MaKM], [TriGia]) VALUES (3, N'Đã giao', N'Đã thanh toán', 7, 3, CAST(N'2022-11-25T00:00:00.000' AS DateTime), CAST(N'2022-11-28T00:00:00.000' AS DateTime), N'Số nhà 307, phố Lê Quý Đôn, tổ 2, phường Bồ Xuyên', N'Thái Bình', 1, 60840000)
GO
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBD], [NgayKT], [PhanTramKM], [DinhMuc], [ToiDa]) VALUES (1, N'Black Friday', CAST(N'2022-11-20T00:00:00.000' AS DateTime), CAST(N'2022-11-26T00:00:00.000' AS DateTime), 0.1, 50000000, 10000000)
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBD], [NgayKT], [PhanTramKM], [DinhMuc], [ToiDa]) VALUES (2, N'Cyber Monday', CAST(N'2022-11-26T00:00:00.000' AS DateTime), CAST(N'2022-11-29T00:00:00.000' AS DateTime), 0.2, 2000000, 1000000)
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [NgayBD], [NgayKT], [PhanTramKM], [DinhMuc], [ToiDa]) VALUES (3, N'Valentine ', CAST(N'2022-02-13T00:00:00.000' AS DateTime), CAST(N'2022-02-15T00:00:00.000' AS DateTime), 0.15, 3000000, 900000)
GO
INSERT [dbo].[Users] ([MaUser], [HoTen], [Email], [Username], [Password], [SDT], [DiaChi], [ThanhPho], [NgayTao], [Quyen]) VALUES (1, N'Trần Thanh Hiếu', N'tthieu@gmail.com', N'nv001', N'nv001login', N'0946910406', N'Dĩ An', N'Bình Dương', CAST(N'2022-11-16T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Users] ([MaUser], [HoTen], [Email], [Username], [Password], [SDT], [DiaChi], [ThanhPho], [NgayTao], [Quyen]) VALUES (2, N'Nguyễn Hữu Hiệu', N'nhhieu@gmail.com', N'nv002', N'nv002login', N'0912847213', N'Quận 3', N'Hồ Chí Minh', CAST(N'2022-11-16T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Users] ([MaUser], [HoTen], [Email], [Username], [Password], [SDT], [DiaChi], [ThanhPho], [NgayTao], [Quyen]) VALUES (3, N'Trần Ngọc Mỹ Phương', N'tnmphuong@gmail.com', N'nv003', N'nv003login', N'0164829841', N'Quận 8', N'Hồ Chí Minh', CAST(N'2022-11-16T00:00:00.000' AS DateTime), 2)
GO
USE [master]
GO
