@model Funiture_Project.ModelViews.ChangeProfileVM
@{
    KhachHang khachhang = ViewBag.KhachHang;
}
<form asp-action="ChangeProfile" asp-controller="Profile" method="post" class="myProfile w-full flex flex-col-reverse lg:grid gap-x-6 lg:grid-cols-3">
    <div class="info col-span-2">
        <div class="lg:flex items-center mb-6">
            <div class="min-w-[250px]">
                <label class="block text-[16px] lg:text-[18px] text-gray-500 font-bold lg:text-right mb-1 pr-4"
                       for="full-name">
                    Họ và tên
                </label>
            </div>
            <div class="w-full">
                <input asp-for="HoTen" class="text-[14px] lg:text-[18px] border-2 border-gray-200 rounded w-full py-2 px-4 focus:outline-none focus:bg-white focus:border-[#518581]"
                       id="full-name"
                       type="text"
                       value="@khachhang.HoTen" />
            </div>
        </div>
        <div class="lg:flex items-center mb-6">
            <div class="min-w-[250px]">
                <label class="block text-[16px] lg:text-[18px] text-gray-500 font-bold lg:text-right mb-1 pr-4"
                       for="email">
                    Email
                </label>
            </div>
            <div class="w-full">
                <input asp-for="Email" class="text-[14px] lg:text-[18px] border-2 border-gray-200 rounded w-full py-2 px-4 focus:outline-none focus:bg-white focus:border-[#518581]"
                       id="email"
                       type="email"
                       value="@khachhang.Email" />
            </div>
        </div>
        <div class="lg:flex items-center mb-6">
            <div class="min-w-[250px]">
                <label class="block text-[16px] lg:text-[18px] text-gray-500 font-bold lg:text-right mb-1 pr-4"
                       for="phone">
                    Điện thoại
                </label>
            </div>
            <div>
                <input asp-for="SDT" class="text-[14px] lg:text-[18px] border-2 border-gray-200 rounded w-full py-2 px-4 focus:outline-none focus:bg-white focus:border-[#518581]"
                       id="phone"
                       type="number"
                       value="@khachhang.Sdt" />
            </div>
        </div>
        <div class="lg:flex items-center mb-6">
            <div class="min-w-[250px]">
                <label class="block text-[16px] lg:text-[18px] text-gray-500 font-bold lg:text-right mb-1 pr-4"
                       for="address-detail">
                    Địa chỉ
                </label>
            </div>
            <div class="w-full">
                <input asp-for="DiaChi" class="text-[14px] lg:text-[18px] border-2 border-gray-200 rounded w-full py-2 px-4 focus:outline-none focus:bg-white focus:border-[#518581]"
                       id="address-detail"
                       type="text"
                       value="@khachhang.DiaChi" />
            </div>
        </div>
        <div class="lg:flex items-center">
            <div class="w-[250px]"></div>
            <button type="submit"
                    class="bg-[#518581] text-white rounded-lg shadow h-[60px] w-[100px] p-[14px] font-bold text-2xl hover:bg-opacity-60">
                Lưu
            </button>
        </div>
    </div>
    <div class="image border-left text-center mb-8">
        <div class="mt-2">
            <img src="../assets/img/banlamviec.png"
                 class="w-[150px] h-[150px] lg:w-[295px] lg:h-[295px] m-auto rounded-[50%] shadow" />
        </div>

        <label class="text-[14px] lg:text-[18px] inline-block mt-3 px-4 py-1 bg-white border border-gray-300 rounded cursor-pointer"
               for="file_input">Chọn ảnh</label>
        <input class="hidden" id="file_input" type="file" />
    </div>
</form>
