@model Funiture_Project.Models.ChangePasswordVM
<form class="changePw w-full hidden flex-col-reverse gap-x-6 lg:grid-cols-3" asp-action="ChangePassword" asp-controller="Profile" method="post">
    <div class="info col-span-2">
        <div class="lg:flex items-center mb-6">
            <div class="min-w-[250px]">
                <label class="block text-[16px] lg:text-[18px] text-gray-500 font-bold lg:text-right mb-1 pr-4"
                       for="password">
                    Mật khẩu cũ
                </label>
            </div>
            <div class="w-full">
                <input asp-for="OldPassword" class="text-[14px] lg:text-[18px] border-2 border-gray-200 rounded w-full py-2 px-4 focus:outline-none focus:bg-white focus:border-[#518581]"
                       id="password"
                       type="password" />
            </div>
        </div>
        <div class="lg:flex items-center mb-6">
            <div class="min-w-[250px]">
                <label class="block text-[16px] lg:text-[18px] text-gray-500 font-bold lg:text-right mb-1 pr-4"
                       for="newPassword">
                    Mật khẩu mới
                </label>
            </div>
            <div class="w-full">
                <input asp-for="NewPassword" class="text-[14px] lg:text-[18px] border-2 border-gray-200 rounded w-full py-2 px-4 focus:outline-none focus:bg-white focus:border-[#518581]"
                       id="newPassword"
                       type="password" />
            </div>
        </div>
        <div class="lg:flex items-center mb-6">
            <div class="min-w-[250px]">
                <label class="block text-[16px] lg:text-[18px] text-gray-500 font-bold lg:text-right mb-1 pr-4"
                       for="newPasswordConfirm">
                    Nhập lại mật khẩu mới
                </label>
            </div>
            <div class="w-full">
                <input asp-for="ConfirmPassword" class="text-[14px] lg:text-[18px] border-2 border-gray-200 rounded w-full py-2 px-4 focus:outline-none focus:bg-white focus:border-[#518581]"
                       id="newPasswordConfirm"
                       type="password" />
            </div>
        </div>

        <div class="lg:flex items-center">
            <div class="w-[250px]"></div>
            <button type="submit"
                    class="bg-[#518581] text-white rounded-lg shadow h-[60px] w-[100px] p-[14px] font-bold text-2xl hover:bg-opacity-60">
                Lưu
            </button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}