@model Funiture_Project.Models.KhachHang
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<HoaDon> DonHang = ViewBag.DonHang;
    Funiture_Project.Models.ChangePasswordVM changePw = new Funiture_Project.Models.ChangePasswordVM();
    Funiture_Project.ModelViews.ChangeProfileVM changePf = new Funiture_Project.ModelViews.ChangeProfileVM();
}

<main class="container my-16">
    <div class="flex justify-center items-center lg:items-start flex-col lg:flex-row gap-5">
        <div class="text-white flex justify-center items-center flex-col">
            <span class="myProfile_btn text-center bg-[#518581] w-[200px] p-3 hover:opacity-[0.5] transition-all cursor-pointer">Hồ sơ của tôi</span>
            <span class="myOrder_btn text-center bg-[#518581] w-[200px] p-3 hover:opacity-[0.5] transition-all cursor-pointer">Đơn hàng của tôi</span>
            <span class="changePw_btn text-center bg-[#518581] w-[200px] p-3 hover:opacity-[0.5] transition-all cursor-pointer">Đổi mật khẩu</span>
            <a href="/Logout.html" class="logOut_btn text-center bg-[#518581] w-[200px] p-3 hover:opacity-[0.5] transition-all cursor-pointer"><span>Đăng xuất</span></a>
        </div>

        <div class="lg:w-[1024px] flex justify-center items-center flex-col">
            <div class="title text-[26px] lg:text-[44px] text-heading text-center">
                Hồ sơ của tôi
            </div>
            <div class="desc text-[14px] lg:text-[18px] text-desc text-desc__yellow text-center mb-7">
                Chỉnh sửa hồ sơ tài khoản
            </div>

            <!-- Hồ sơ của tôi -->
            @await Html.PartialAsync("ChangeProfile", changePf)
            <!-- Đơn hàng của tôi -->
            @await Html.PartialAsync("DonHangView", DonHang)

            <!-- Thay đổi mật khẩu -->
            @await Html.PartialAsync("ChangePassword", changePw)

        </div>
    </div>
</main>

<script>
    const myProfile_btn = document.querySelector(".myProfile_btn");
    const myOrder_btn = document.querySelector(".myOrder_btn");
    const changePw_btn = document.querySelector(".changePw_btn");
    const logOut_btn = document.querySelector(".logOut_btn");
    const title = document.querySelector(".title");
    const desc = document.querySelector(".desc");

    myProfile_btn.addEventListener("click", () => {
        myOrder_btn.classList.remove("opacity-[0.5]");
        changePw_btn.classList.remove("opacity-[0.5]");
        logOut_btn.classList.remove("opacity-[0.5]");

        myProfile_btn.classList.add("opacity-[0.5]");

        title.textContent = "Hồ sơ của tôi";
        desc.textContent = "Chỉnh sửa hồ sơ tài khoản";

        document.querySelector(".myProfile").classList.remove("hidden");
        document.querySelector(".myProfile").classList.add("flex");
        document.querySelector(".myProfile").classList.add("lg:grid");

        document.querySelector(".myOrder").classList.remove("flex");
        document.querySelector(".myOrder").classList.add("hidden");

        document.querySelector(".changePw").classList.remove("grid");
        document.querySelector(".changePw").classList.add("hidden");
    });

    myOrder_btn.addEventListener("click", () => {
        myProfile_btn.classList.remove("opacity-[0.5]");
        changePw_btn.classList.remove("opacity-[0.5]");
        logOut_btn.classList.remove("opacity-[0.5]");

        myOrder_btn.classList.add("opacity-[0.5]");

        title.textContent = "Đơn hàng của tôi";
        desc.textContent = "Xem chi tiết đơn hàng của tôi";

        document.querySelector(".myProfile").classList.remove("flex");
        document.querySelector(".myProfile").classList.remove("lg:grid");
        document.querySelector(".myProfile").classList.add("hidden");

        document.querySelector(".changePw").classList.remove("grid");
        document.querySelector(".changePw").classList.add("hidden");

        document.querySelector(".myOrder").classList.remove("hidden");
        document.querySelector(".myOrder").classList.add("flex");
    });

    changePw_btn.addEventListener("click", () => {
        myProfile_btn.classList.remove("opacity-[0.5]");
        myOrder_btn.classList.remove("opacity-[0.5]");
        logOut_btn.classList.remove("opacity-[0.5]");

        changePw_btn.classList.add("opacity-[0.5]");

        title.textContent = "Thay đổi mật khẩu";
        desc.textContent = "";

        document.querySelector(".changePw").classList.remove("hidden");
        document.querySelector(".changePw").classList.add("grid");

        document.querySelector(".myProfile").classList.add("hidden");
        document.querySelector(".myProfile").classList.remove("flex");
        document.querySelector(".myProfile").classList.remove("lg:grid");

        document.querySelector(".myOrder").classList.add("hidden");
        document.querySelector(".myOrder").classList.remove("flex");
    });

</script>
