<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Desktop -->
    <footer
      class="hidden lg:block container bg-white py-[60px] border-t border-t-[#ECE4DE]"
    >
      <div class="flex items-center justify-center gap-y-[23px] flex-col">
        <div class="flex items-center justify-center gap-x-2 cursor-pointer">
          <img srcset="/assets/img/logo.png 2x" alt="logo" />
          <span class="font-medium text-[18px]">
            BiSys - Yêu ngôi nhà của bạn
          </span>
        </div>
        <div
          class="flex items-center justify-center gap-x-[41px] cursor-pointer"
        >
          <img src="/assets/icons/facebook.png" alt="facebook" />
          <img src="/assets/icons/instagram.png" alt="instagram" />
          <img src="/assets/icons/twitter.png" alt="twitter" />
        </div>
        <span class="font-medium text-2xl"
          >Hãy theo dõi chúng tôi để cập nhật tin mới nhất !</span
        >
      </div>
    </footer>

    <!-- Mobile -->
    <footer class="block lg:hidden p-5">
      <div class="border-t border-t-[#AD7E5C]">
        <div
          class="flex items-center justify-start gap-x-2 cursor-pointer my-5"
        >
          <img srcset="/assets/img/logo.png 2.5x" alt="#" />
          <span class="font-medium text-[18px]"> BiSys </span>
        </div>
        <p class="font-medium text-sm text-[#AFADB5] my-5">
          BiSys is digital agency that help you make better experience iaculis
          cras in.
        </p>

        <div class="flex items-start justify-between gap-x-[35px]">
          <div class="flex flex-col items-start justify-center gap-y-[14px]">
            <span class="font-bold">Product</span>
            <div class="flex flex-col items-start justify-center gap-y-[6px]">
              <span class="font-medium text-sm text-[#AFADB5]"
                >New Arrivals</span
              >
              <span class="font-medium text-sm text-[#AFADB5]"
                >Best Selling</span
              >
              <span class="font-medium text-sm text-[#AFADB5]">Home Decor</span>
              <span class="font-medium text-sm text-[#AFADB5]"
                >Kitchen Set</span
              >
            </div>
          </div>

          <div class="flex flex-col items-start justify-center gap-y-[14px]">
            <span class="font-bold">Services</span>
            <div class="flex flex-col items-start justify-center gap-y-[6px]">
              <span class="font-medium text-sm text-[#AFADB5]">Catalog</span>
              <span class="font-medium text-sm text-[#AFADB5]">Blog</span>
              <span class="font-medium text-sm text-[#AFADB5]">Faq</span>
              <span class="font-medium text-sm text-[#AFADB5]">Pricing</span>
            </div>
          </div>

          <div class="flex flex-col items-start justify-center gap-y-[14px]">
            <span class="font-bold">Follow Us</span>
            <div class="flex flex-col items-start justify-center gap-y-[6px]">
              <span class="font-medium text-sm text-[#AFADB5]">Facebook</span>
              <span class="font-medium text-sm text-[#AFADB5]">Instagram</span>
              <span class="font-medium text-sm text-[#AFADB5]">Twitter</span>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
