<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="h-[100vh]"></div>
    <footer
      class="container bg-white py-[60px] border-t border-t-[#ECE4DE] mb-20"
    >
      <div class="flex items-center justify-center gap-y-[23px] flex-col">
        <div class="flex items-center justify-center gap-x-2 cursor-pointer">
          <img srcset="/assets/img/logo.png 2x" alt="logo" />
          <span class="font-medium text-[18px]">
            BiSys - Yêu ngôi nhà của bạn
          </span>
        </div>
        <div
          class="flex items-center justify-center gap-x-[41px] cursor-pointer"
        >
          <img src="/assets/icons/facebook.png" alt="facebook" />
          <img src="/assets/icons/instagram.png" alt="instagram" />
          <img src="/assets/icons/twitter.png" alt="twitter" />
        </div>
        <span class="font-medium text-2xl"
          >Hãy theo dõi chúng tôi để cập nhật tin mới nhất !</span
        >
      </div>
    </footer>
  </body>
</html>
