<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="bg-white shadow-[0px_5px_6px_rgba(0,_0,_0,_0.25)]">
        <div class="flex items-center justify-center gap-x-2 cursor-pointer">
          <span class="font-medium text-[18px]">
            BiSys - Yêu ngôi nhà của bạn
          </span>
        </div>
          <span>Sản phẩm</span>
          <span>Về chúng tôi</span>
          <span>Tin tức</span>
          <span>Liên hệ</span>
        </div>
          <span>
            </svg>
          </span>
          <span>
            </svg>
          </span>
        </div>
      </div>
    </header>
  </body>
</html>
