@model Funiture_Project.Models.SanPham
@inject Funiture_Project.Areas.Admin.Models.AdminSideBarService _AdminSideBarService;

@{
    ViewData["Title"] = "Cập nhật sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section Sidebar{
    @Html.Raw(_AdminSideBarService.renderHtml())
}
@{
    _AdminSideBarService.setActive("AdminProducts", "Index", "Admin");
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        display: none;
    }
</style>

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->

    <div class="d-flex justify-content-between">
        <h1 class="h3 mb-2 text-gray-800">
            Chỉnh sửa thông tin sản phẩm
        </h1>

        <!--------------- Button Xóa Sản Phẩm -------------------->
        @{var item = Model.MaSp;}

        <a asp-action="Delete" asp-route-id="@item" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
            </span>
            <span class="text">Xóa thông tin</span>
        </a>
    </div>
    <hr class="my-12" />

    <div class="mt-10"></div>

    <!-- DataTales Example -->
    <div class="container gap-3">
        <!--**************************************-->
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="MaSp">Mã sản phẩm</label>
                <input class="col-4 form-control bg-white" asp-for="MaSp" disabled />
            </div>

            <!--*********** Tên sản phẩm **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="TenSp">Tên sản phẩm</label>
                <input class="col-4 form-control bg-white" asp-for="TenSp" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>

            <!--*********** Mã sản phẩm **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="MaDm">Mã danh mục</label>
                <input class="col-4 form-control bg-white" asp-for="MaDm" />
                <span asp-validation-for="MaDm" class="text-danger"></span>
            </div>

            <!--************ Nước sản xuất **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="Nsx">Nước sản xuất</label>
                <input class="col-4 form-control bg-white" asp-for="Nsx" />
                <span asp-validation-for="Nsx" class="text-danger"></span>
            </div>

            <!--************ Thương hiệu **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="ThuongHieu">Thương hiệu</label>
                <input class="col-4 form-control bg-white" asp-for="ThuongHieu" />
                <span asp-validation-for="ThuongHieu" class="text-danger"></span>
            </div>

            <!--************ Giá bán **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="Gia">Đơn giá</label>
                <input class="col-4 form-control bg-white" type="number" 
                       inputmode="decimal"
                       min="0"
                       step=".01" asp-for="Gia" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>

            <!--************ Tổng số lượng **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="TongSl">Tổng số lượng</label>
                <input class="col-4 form-control bg-white" min="0" asp-for="TongSl" />
                <span asp-validation-for="TongSl" class="text-danger"></span>
            </div>

            <!--************ Hình ảnh **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="HinhAnh">Hình ảnh</label>
                <input class="col-4 form-control bg-white" type="file" asp-for="HinhAnh" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>

            <!--************ Mô tả Chi tiết SP **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="ChiTiet">Chi Tiết</label>
                <textarea class="col-4 form-control bg-white" id="autoresizing" asp-for="ChiTiet"></textarea>
                <span asp-validation-for="ChiTiet" class="text-danger"></span>
            </div>

            <hr class="my-12" />

            <!--------------------Button--------------------------->
            <div class="d-grid d-flex justify-content-between">
                <!------ Button Quay Lại ------>
                <a asp-action="Index" class="form-group btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Quay lại</span>
                </a>

                <!------ Button Lưu ------>
                <div class="form-group btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <input type="submit" value="Lưu thông tin" class="btn btn-success" />
                </div>
            </div>

        </form>
    </div>    
</div>


<!--Tạo khả năng tự động điều chỉnh độ cao textbox cho input Mô tả chi tiết SP-->
<script type="text/javascript">
    textarea = document.querySelector("#autoresizing");
    textarea.addEventListener('input', autoResize, false);

    function autoResize() {
        this.style.height = 'auto';
        this.style.height = this.scrollHeight + 'px';
    }
</script>

@*************************************************************************@
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="MaSp" />

            <div class="form-group">
                <label asp-for="TenSp" class="control-label"></label>
                <input asp-for="TenSp" class="form-control" />
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nsx" class="control-label"></label>
                <input asp-for="Nsx" class="form-control" />
                <span asp-validation-for="Nsx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThuongHieu" class="control-label"></label>
                <input asp-for="ThuongHieu" class="form-control" />
                <span asp-validation-for="ThuongHieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongSl" class="control-label"></label>
                <input asp-for="TongSl" class="form-control" />
                <span asp-validation-for="TongSl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label"></label>
                <input asp-for="HinhAnh" class="form-control" />
                <span asp-validation-for="HinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaDm" class="control-label"></label>
                <input asp-for="MaDm" class="form-control" />
                <span asp-validation-for="MaDm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChiTiet" class="control-label"></label>
                <input asp-for="ChiTiet" class="form-control" />
                <span asp-validation-for="ChiTiet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

