@model Funiture_Project.Models.KhuyenMai
@inject Funiture_Project.Areas.Admin.Models.AdminSideBarService _AdminSideBarService;

@{
    ViewData["Title"] = "Sửa khuyến mãi";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section Sidebar{
    @Html.Raw(_AdminSideBarService.renderHtml())
}
@{
    _AdminSideBarService.setActive("AdminDiscounts", "Index", "Admin");
}

<div class="container-fluid">
    <!-- Page Heading -->

    <div class="d-flex justify-content-between">
        <h1 class="h3 mb-2 text-gray-800">
            Chỉnh sửa thông tin khuyến mãi
        </h1>

        <!--------------- Button Xóa KM -------------------->
        @{
            var item = Model;
        }

        <a asp-action="Delete" asp-route-id="@item.MaKm" class="btn btn-danger btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-trash"></i>
            </span>
            <span class="text">Xóa thông tin</span>
        </a>
    </div>
    <hr class="my-12" />

    <div class="mt-10"></div>

    <!-- DataTales Example -->
    <div class="container gap-3">
        <!--**************************************-->
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaKm" />

            <!--*********** Mã KM **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="MaKm">Mã KM</label>
                <input class="col-4 form-control bg-white" asp-for="MaKm" disabled />
            </div>

            <!--*********** Tên khuyến mãi **************-->
            <div class="form-group row mb-4">
                <label asp-for="TenKm" class="col-2 col-form-label">Tên khuyến mãi</label>
                <input asp-for="TenKm" class="col-4 form-control bg-white" />
                <span asp-validation-for="TenKm" class="text-danger"></span>
            </div>

            <!--*********** Ngày BĐ **************-->
            <div class="form-group row mb-4">
                <label asp-for="NgayBd" class="col-2 col-form-label">Ngày bắt đầu</label>
                <input asp-for="NgayBd" class="col-4 form-control bg-white" />

                <span asp-validation-for="NgayBd" class="text-danger"></span>
            </div>

            <!--************ Ngày KT **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="NgayKt">Ngày kết thúc</label>
                <input class="col-4 form-control bg-white" asp-for="NgayKt" />
                <span asp-validation-for="NgayKt" class="text-danger"></span>
            </div>

            <!--************ Phần trăm KM **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="PhanTramKm">Tỉ lệ</label>
                <input id="giaTriPhanTram" class="col-4 form-control bg-white" asp-for="PhanTramKm"/>
                <span asp-validation-for="PhanTramKm" class="text-danger"></span>
            </div>

            <!--************ Định mức **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="DinhMuc">Định mức</label>
                <input class="col-4 form-control bg-white" type="number"
                       inputmode="decimal"
                       min="0"
                       step=".01" asp-for="DinhMuc" />
                <span asp-validation-for="DinhMuc" class="text-danger"></span>
            </div>

            <!--************ Tối đa **************-->
            <div class="form-group row mb-4">
                <label class="col-2 col-form-label" asp-for="ToiDa">Tối đa</label>
                <input class="col-4 form-control bg-white" asp-for="ToiDa" />
                <span asp-validation-for="ToiDa" class="text-danger"></span>
            </div>

            <hr class="my-12" />

            <!--------------------Button--------------------------->
            <div class="d-grid d-flex justify-content-between">
                <!------ Button Quay Lại ------>
                <a asp-action="Index" class="form-group btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Quay lại</span>
                </a>

                <!------ Button Lưu ------>
                <a class="form-group btn btn-success btn-icon-split" onclick="myFunction()">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <input type="submit" value="Lưu thông tin" class="btn btn-success" />
                </a>
            </div>

        </form>
    </div>
</div>
<!-------------------->
<script>
    function myFunction() {
        var x = document.getElementById("giaTriPhanTram").value;
        document.getElementById("giaTriPhanTram").value = Number(x) / 100;
    }
</script>