@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/about-us.css" rel="stylesheet" />
<body>
    <main class="container px-8 lg:px-[100px]">
        <div class="category mt-8 lg:mt-20 mb-4 lg:mb-16">
            <div class="text-center">
                <h1 class="text-center text-[26px] lg:text-[64px] font-bold">Về chúng tôi</h1>
                <div class="gray-color text-[14px] lg:text-[18px] text-center font-medium mt-3">Chào mừng bạn đến với nội thất thông minh BiSys !
                </div>
                <div class="gray-color text-[14px] lg:text-[18px] text-center font-medium">
                    BiSys - Yêu ngôi nhà của bạn
                </div>
            </div>
        </div>
        <div class="mission">
            <span class="yellow-color text-[14px] lg:text-[18px] font-bold">Sứ mệnh của chúng tôi</span>
            <div class="lg:flex gap-x-20 mb-12 lg:mb-20">
                <div class="flex-1">
                    <div class="text-[24px] lg:text-[44px] font-bold mb-5">Mang đến cho khách hàng những dịch vụ tốt nhất
                    </div>
                    <div class="flex justify-between mb-5 lg:mb-0">
                        <div class="basis-1/3">
                            <p class="text-[24px] lg:text-[44px] font-bold">20+</p>
                            <p class="w-4/5 text-[14px] lg:text-[18px] text-gray font-medium">Năm kinh nghiệm</p>
                        </div>
                        <div class="basis-1/3">
                            <p class="text-[24px] lg:text-[44px] font-bold">483</p>
                            <p class="w-4/5 text-[14px] lg:text-[18px] text-gray font-medium">Khách hàng hài lòng với sản phẩm</p>
                        </div>
                        <div class="basis-1/3">
                            <p class="text-[24px] lg:text-[44px] font-bold">150+</p>
                            <p class="w-4/5 text-[14px] lg:text-[18px] text-gray font-medium">Đơn hàng được bán mỗi quý</p>
                        </div>
                    </div>
                </div>
                <div class="flex-1">
                    <div class="flex mb-4">
                        <div class="mr-5">
                            <img srcset="../assets/img/various-product-icon.png 2x" alt="">
                        </div>
                        <div>
                            <p class="text-desc text-justify font-bold text-[16px] lg:text-[24px] mb-2 text-[#151411]">
                                Sản phẩm đa dạng
                            </p>
                            <p class="text-desc text-[14px] lg:text-[18px] text-justify text-gray">
                                Hơn 100 sản phẩm với thiết kế, kiểu dáng độc đáo - giải pháp cho mọi ngóc ngách
                            </p>
                        </div>
                    </div>
                    <div class="flex mb-4">
                        <div class="mr-5">
                            <img srcset="../assets/img/fast-icon.png 2x" alt="">
                        </div>
                        <div>
                            <p class="text-desc text-justify font-bold text-[16px] lg:text-[24px] mb-2 text-[#151411]">
                                Giao hàng nhanh chóng
                            </p>
                            <p class="text-desc text-[14px] lg:text-[18px] text-justify text-gray">
                                Đội ngũ vận chuyển chuyên nghiệp. Cam kết sản phẩm sẽ đến tay người dùng trong 3-5 ngày kể
                                từ khi đặt hàng
                            </p>
                        </div>
                    </div>
                    <div class="flex mb-4">
                        <div class="mr-5">
                            <img srcset="../assets/img/comfortable-money-icon.png 2x" alt="">
                        </div>
                        <div>
                            <p class="text-desc text-justify font-bold text-[16px] lg:text-[24px] mb-2 text-[#151411]">
                                Phù hợp với túi tiền
                            </p>
                            <p class="text-desc text-[14px] lg:text-[18px] text-justify text-gray">
                                Cung cấp sản phẩm chất lượng thuộc nhiều phân khúc giá khác nhau và nhiều ưu đãi trong quá
                                trình mua sắm
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="our-team">
            <div class="lg:w-1/2">
                <span class="yellow-color text-[14px] lg:text-[18px] font-bold">Our team</span>
                <div class="text-[24px] lg:text-[44px] font-bold">Meet our leading and strong team
                </div>
            </div>
            <div class="image-section lg:grid grid-cols-3 gap-x-10 gap-y-5 mt-4 lg:mt-16">
                <div class="image-section-item mb-8 lg:mb-0">
                    <img src="../assets/img/minhhung.jpg" alt="minhhung" class=" shadow-2xl object-cover rounded-md aspect-square">
                    <div class="text-[14px] lg:text-[26px] font-bold mt-2">Hà Minh Hùng</div>
                    <div class="text-[12px] lg:text-[18px] gray-color">Developer</div>
                </div>
                <div class="image-section-item mb-8 lg:mb-0">
                    <img src="../assets/img/thanhlam.jpg" alt="thanhlam" class=" shadow-2xl object-cover rounded-md aspect-square">
                    <div class="text-[14px] lg:text-[26px] font-bold mt-2">Nguyễn Võ Thanh Lâm</div>
                    <div class="text-[12px] lg:text-[18px] gray-color">Developer</div>
                </div>
                <div class="image-section-item mb-8 lg:mb-0">
                    <img src="../assets/img/thanhloi2.jpg" alt="hoangloi" class=" shadow-2xl object-cover rounded-md aspect-square">
                    <div class="text-[14px] lg:text-[26px] font-bold mt-2">Nguyễn Trần Hoàng Lợi</div>
                    <div class="text-[12px] lg:text-[18px] gray-color">Developer</div>
                </div>
                <div class="image-section-item mb-8 lg:mb-0">
                    <img src="../assets/img/myphuong.jpg" alt="myphuong" class=" shadow-2xl object-cover rounded-md aspect-square">
                    <div class="text-[14px] lg:text-[26px] font-bold mt-2">Trần Ngọc Mỹ Phương</div>
                    <div class="text-[12px] lg:text-[18px] gray-color">UI Designer</div>
                </div>
                
            </div>
        </div>
    </main>
    <script src="/javascripts/insertHeaderFooter.js"></script>
</body>

