*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 18px;
}
html {
  font-family: "Roboto", sans-serif;
}
:root {
  --main-color: #518581;
  --yellow: #FFB23F;
  --text-gray: #AFADB5;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.fadeUp {
  animation: fadeUp 0.5s ease-in;
  transition: all 0.5s ease-in;
}

@keyframes fadeUp {
  from {
    opacity: 0.5;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-gray {
  color: var(--text-gray);
}
