*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
	font: inherit;
}
html {
	font-family: "Roboto", sans-serif;
}
body {
	line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
:root {
	--green-color: #518581;
}
.text-heading {
	font-size: 44px;
	font-weight: 700;
	line-height: calc(57.2 / 44);
	color: black;
}
.text-desc {
	font-size: 18px;
	font-weight: 500;
	line-height: calc(32.4 / 18);
	color: #afadb5;
}
.button-primary {
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 18px 39px;
	background-color: #518581;
	border-radius: 0.25rem;
	display: inline-block;
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 100px;
	padding-right: 100px;
}
