.swiper {
	width: 100%;
	height: 100%;
}
.swiper-wrapper {
	transition: 1s linear !important;
}
.swiper-slide {
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.my-custom-pagination-div {
	margin-top: 10px;
	text-align: center;
}
.mySwiper1 .swiper-button-next,
.mySwiper1 .swiper-button-prev {
	background-color: #a3a3a3;
	border-radius: 50%;
	font-size: 5px;
	color: white;
	padding: 20px;
	width: 50px;
	height: 50px;
}
.mySwiper1 .swiper-button-next {
	right: 0;
}
.mySwiper1 .swiper-button-prev {
	left: 0;
}
.mySwiper1 .swiper-button-next::after,
.mySwiper1 .swiper-button-prev::after {
	font-size: 20px;
	font-weight: 700;
}
